/* Write the CSS for you answer here */
#container {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 600px;
}

#background{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 0;
}

#redFlowers{
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    z-index: 3;
    pointer-events: none;
}

#blueBauble{
    position: absolute;
    left: 100px;
    top: 150px;
    z-index: 5

}

#redBauble{
    position: absolute;
    left: 25px;
    top: 250px;
    z-index: 5
}

#orangeBauble{
    position: absolute;
    left: 200px;
    top: 210px;
    z-index: 5
}

#pinkBauble {
    position: absolute;
    left: 320px;
    top: 80px;
    z-index: 5
}

#greenBauble {
    position: absolute;
    left: 350px;
    top: 250px;
    z-index: 2;
}

#dblueBauble {
    position: absolute;
    left: 450px;
    top: 180px;
    z-index: 5;
}

.baubles{
    width: 50px;
    transition: width;
    transition-duration: 2s;
}
.baubles:hover{
    width: 100px;
}